@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Department</title>
</head>
<body>

    <form method="post">
        <label>Department Name</label> <input type="text" value="@Model.Name" name="Name" /> <br />
        <input type="submit" value="Add" />

    </form>
</body>
</html>
