
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    Details
    <a asp-action="display">Display</a>

    @ViewBag.Id : @ViewBag.Name

</body>
</html>
